/* big phones */
@media screen and (max-width:699px){
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .home{
        padding: 20% 5% 20px 5%;
    }
    .home-section{
        flex-direction:column;
        padding-top: 25%;
    }
    .home-section{
        flex-direction:column;
        margin: 20px;
    }
    .home-section-text{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .home-section-img img{
        width: 100%;
    }

    /* contributor section */
    .contributors{
        width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    }
    .contributors-imgs{
        display: flex;
    gap: 20px; /* Space between images */
    animation: scroll 15s linear infinite;
    }
    
    .contributor-img{
        height: 70px;
        width: 200px;
        object-fit: center;
        flex-shrink: 0;
    }
    
}
/* small phones */
@media screen and (max-width:450px){
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .home{
        padding: 30%;
    }
    .home-section{
        flex-direction:column;
        margin: 20px;
    }
    .home-section-text{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .home-section-img img{
        width: 320px;
    }
    /* contributor section */
    .contributors{
        width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    }
    .contributors-imgs{
        display: flex;
    gap: 20px; /* Space between images */
    animation: scroll 15s linear infinite;
    }
    
    .contributor-img{
        height: 70px;
        width: 200px;
        object-fit: center;
        flex-shrink: 0;
    }
    
}
/* Tablets */
@media (min-width: 768px) and (max-width: 1024px){
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .home-section{
        flex-direction:column;
        margin: 20px;
    }
    .home-section-text{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .home-section-img img{
        width: 100%;
    }
    /* contributor section */
    .contributors{
        width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    }
    .contributors-imgs{
        display: flex;
    gap: 20px; /* Space between images */
    animation: scroll 15s linear infinite;
    }
    
    .contributor-img{
        height: 70px;
        width: 200px;
        object-fit: center;
        flex-shrink: 0;
    }
}
/* laptops */
@media screen and (min-width:1024px) {
    .open-btn{
        display: none;
    }
}